---
import { autoProps } from "@/shared/lib/utils/autoProps";

import type { FooterProps } from "./Footer.types";
import { schema } from "./Footer.types";

const props = autoProps(Astro.props.props as FooterProps, schema);
---

<footer
  {...props.$(props, true)}
  class="border-t h-[96px] items-center justify-center w-full"
>
  <div class="h-full flex justify-between items-center w-full">
    <h1 {...props.$(props.title)}>{props.title}</h1>
  </div>
</footer>
