---
import Button from "@/shared/ui/Button.astro";
import type { HeroProps } from "./Hero.types";
import { autoProps } from "../../shared/lib/utils/autoProps";

const props = autoProps(Astro.props as HeroProps);
---

<div
  {...props.$(props, true)}
  class="flex flex-col gap-8 h-dvh max-h-[730px] items-center justify-center"
>
  <h2 {...props.$(props.title)} class="text-center sm:text-6xl text-4xl">
    {props.title}
  </h2>
  <div {...props.$(props.buttons)} class="flex gap-4">
    {
      props?.buttons?.map((button) => (
        <Button {...props.$(button)} href={button.href}>
          {button?.label}
        </Button>
      ))
    }
  </div>
  <img src="/astro-logo-dark.svg" class="w-[120px]" alt="astro logotype" />
</div>
